# Ignore built files
/dist
/build

# Hidden files should never be relevant within a project, and are commonly used
# for local and temporary files.
.*
# ... except for these special cases:
!.gitignore
